<%- include('./partials/headIndex.ejs')%>

<%-include('./partials/header.ejs')%>

        <!-- Contenido Principal -->
        <main>
            <!-- Banner Principal -->
            <div class="banner">
                <div>
                    <h1>Título</h1>
                    <!-- Switch para Tema Claro/Oscuro -->
                    <label class="switch">
                        <input id="input" type="checkbox" checked />
                        <div class="slider round">
                            <!-- Elementos del Sol y Luna -->
                            <div class="sun-moon">
                                <!-- Puntos de la Luna -->
                                <svg id="moon-dot-1" class="moon-dot" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="moon-dot-2" class="moon-dot" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="moon-dot-3" class="moon-dot" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <!-- Rayos de Luz -->
                                <svg id="light-ray-1" class="light-ray" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="light-ray-2" class="light-ray" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="light-ray-3" class="light-ray" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <!-- Nubes Oscuras -->
                                <svg id="cloud-1" class="cloud-dark" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="cloud-2" class="cloud-dark" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="cloud-3" class="cloud-dark" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <!-- Nubes Claras -->
                                <svg id="cloud-4" class="cloud-light" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="cloud-5" class="cloud-light" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="cloud-6" class="cloud-light" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                            </div>
                            <!-- Estrellas -->
                            <div class="stars">
                                <svg id="star-1" class="star" viewBox="0 0 20 20">
                                    <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
                                </svg>
                                <svg id="star-2" class="star" viewBox="0 0 20 20">
                                    <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
                                </svg>
                                <svg id="star-3" class="star" viewBox="0 0 20 20">
                                    <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
                                </svg>
                                <svg id="star-4" class="star" viewBox="0 0 20 20">
                                    <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
                                </svg>
                            </div>
                        </div>
                    </label>
                    <!-- Grupo de Botones -->
                    <div class="button-group">
                        <button>Opción 1</button>
                        <button>Opción 2</button>
                        <button>Opción 3</button>
                        <button>Opción 4</button>
                    </div>
                    <!-- Barra de Búsqueda -->
                    <div class="search">
                        <button>Filtrar</button>
                        <input type="text" id="searchInput" name="searchInput" placeholder="Buscar...">
                        <button>Buscar</button>
                    </div>
                </div>
            </div>
            <!-- Contenedor Principal -->
            <div class="container" id="content-section">
                <!-- Sección de Nuestra Empresa -->
                <div class="content-section">
                    <img src="/images/empresa.webp" alt="Imagen de Propiedad">
                    <h2>Nuestra Empresa</h2>
                    <p>
                        Nuestra empresa se especializa en ofrecer propiedades de alta calidad, diseñadas para satisfacer las necesidades de nuestros clientes. Con años de experiencia en el mercado, nos hemos ganado una reputación por nuestra atención al detalle y nuestro compromiso con la excelencia.
                    </p>
                </div>
                <!-- Sección de Confianza -->
                <div class="content-section">
                    <img src="/images/toretto.webp" alt="Imagen de Propiedad">
                    <h2>¿Por qué confiar en nosotros?</h2>
                    <p>
                        Deberías confiar en nosotros porque nos enfocamos en entender las necesidades específicas de cada cliente y ofrecer soluciones personalizadas. Nuestro equipo de expertos trabajará contigo para encontrar la propiedad perfecta para ti, asegurándose de que tu experiencia sea lo más agradable posible.
                    </p>
                </div>
            </div>
            
<section class="review" id="Reviews">
    <div class="reviews-section">
        <h2>Últimas reseñas</h2>
        <div class="reviews-container">
          <div class="review-card">
            <div class="stars">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
            </div>
            <div class="review-title">Título de la reseña</div>
            <div class="review-body">Cuerpo de la reseña</div>
            <div class="review-footer">
              <div class="reviewer-img"></div>
              <div class="reviewer-details">
                Nombre del reseñador<br>
                Fecha
              </div>
            </div>
          </div>
    
          <div class="review-card">
            <div class="stars">
              <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
            </div>
            <div class="review-title">Título de la reseña</div>
            <div class="review-body">Cuerpo de la reseña</div>
            <div class="review-footer">
              <div class="reviewer-img"></div>
              <div class="reviewer-details">
                Nombre del reseñador<br>
                Fecha
              </div>
            </div>
          </div>
    
          <div class="review-card">
            <div class="stars">
              <span>★</span><span>★</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <div class="review-title">Título de la reseña</div>
            <div class="review-body">Cuerpo de la reseña</div>
            <div class="review-footer">
              <div class="reviewer-img"></div>
              <div class="reviewer-details">
                Nombre del reseñador<br>
                Fecha
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
        </main>
        <%-include('./partials/footer.ejs')%>
        <!-- Scripts -->
        <script src="/javascripts/home.js"></script>
        <script src="/javascripts/index.js"></script>
        <script>
            // Agregar evento de cambio al checkbox
            document.getElementById("input").addEventListener("change", changeTheme);
        </script>
</html>