<%-include('./partials/headForm.ejs')%>

<%-include('./partials/header.ejs')%>

<main>
        <div class="login-container">
        <form class="login-form">
            <p class="heading">Login</p>
            <p class="paragraph">Login to your account</p>
            <div class="input-group">
            <input
                required=""
                placeholder="Username"
                id="username name="
                type="text"
                />
            </div>
            <div class="input-group">
            <input
                required=""
                placeholder="Password"
                name="password"
                id="password"
                type="password"
            />
            </div>
            <button type="submit">Login</button>
            <div class="bottom-text">
            <p>Don't have an account? <a href="#">Sign Up</a></p>
            <p><a href="#">Forgot password?</a></p>
            </div>
        </form>
        </div>
    </main>

    <%-include('./partials/footer.ejs')%>

            <!-- Scripts -->
            <script src="/javascripts/home.js"></script>
            <script>
                // Agregar evento de cambio al checkbox
                document.getElementById("input").addEventListener("change", changeTheme);
            </script>
</html>