<%-include('./partials/headForm.ejs')%>

<%-include('./partials/header.ejs')%>

<main>
                    <!-- Switch para Tema Claro/Oscuro -->
                    <label class="switch">
                        <input id="input" type="checkbox" checked />
                        <div class="slider round">
                            <!-- Elementos del Sol y Luna -->
                            <div class="sun-moon">
                                <!-- Puntos de la Luna -->
                                <svg id="moon-dot-1" class="moon-dot" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="moon-dot-2" class="moon-dot" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="moon-dot-3" class="moon-dot" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <!-- Rayos de Luz -->
                                <svg id="light-ray-1" class="light-ray" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="light-ray-2" class="light-ray" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="light-ray-3" class="light-ray" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <!-- Nubes Oscuras -->
                                <svg id="cloud-1" class="cloud-dark" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="cloud-2" class="cloud-dark" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="cloud-3" class="cloud-dark" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <!-- Nubes Claras -->
                                <svg id="cloud-4" class="cloud-light" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="cloud-5" class="cloud-light" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                                <svg id="cloud-6" class="cloud-light" viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50"></circle>
                                </svg>
                            </div>
                            <!-- Estrellas -->
                            <div class="stars">
                                <svg id="star-1" class="star" viewBox="0 0 20 20">
                                    <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
                                </svg>
                                <svg id="star-2" class="star" viewBox="0 0 20 20">
                                    <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
                                </svg>
                                <svg id="star-3" class="star" viewBox="0 0 20 20">
                                    <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
                                </svg>
                                <svg id="star-4" class="star" viewBox="0 0 20 20">
                                    <path d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z"></path>
                                </svg>
                            </div>
                        </div>
                    </label>

        <div class="login-container">
        <form class="login-form">
            <p class="heading">Login</p>
            <p class="paragraph">Login to your account</p>
            <div class="input-group">
            <input
                required=""
                placeholder="Username"
                id="username name="
                type="text"
                />
            </div>
            <div class="input-group">
            <input
                required=""
                placeholder="Password"
                name="password"
                id="password"
                type="password"
            />
            </div>
            <button type="submit">Login</button>
            <div class="bottom-text">
            <p>Don't have an account? <a href="#">Sign Up</a></p>
            <p><a href="#">Forgot password?</a></p>
            </div>
        </form>
        </div>
        

    </main>

    <%-include('./partials/footer.ejs')%>

            <!-- Scripts -->
            <script src="/javascripts/home.js"></script>
            <script>
                // Agregar evento de cambio al checkbox
                document.getElementById("input").addEventListener("change", changeTheme);
            </script>
</html>