/* Variables de colores */
body {
    background-color: var(--var-background-color-light);
    color: var(--var-text-color-light);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--var-background-color-light-shadow);
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

.cart-details table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.cart-details th, .cart-details td {
    border: 1px solid var(--var-border-color);
    padding: 1rem;
    text-align: left;
}

.cart-summary {
    background-color: var(--var-section-color-light);
    padding: 1rem;
    border: 1px solid var(--var-border-color);
}

.btn-checkout, .btn-remove {
    background-color: var(--var-button-color-primary);
    color: var(--var-white);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn-remove {
    background-color: var(--var-button-color-secondary);
}

body.darkMode {
    background-color: var(--var-background-color-dark);
    color: var(--var-text-color-dark);
}

body.darkMode header {
    background-color: var(--var-background-color-dark-shadow);
}

body.darkMode .cart-summary {
    background-color: var(--var-section-color-dark);
}

body.darkMode footer {
    background-color: var(--var-footer-color-dark);
}