<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Propiedades</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
<link rel="stylesheet" href="/stylesheets/carrousel.css">

</head>
<body>
<div class="carrousel">
  <div class="content">
    <h2>Bienvenido a Inmobiliaria Online</h2>
    <p> Explore nuestras propiedades exclusivas y descubre tu nuevo hogar.</p>
    <ul class="counter">
      <li>
        <h3><i class="fa-solid fa-home"></i>100+</h3>
        <span>propiedades disponibles</span>
      </li>
      <li>
        <h3><i class="fa-solid fa-users"></i>5,000+</h3>
        <span>clientes satisfechos</span>
      </li>
    </ul>
    <a href="/home"><button class="btn">Explora nuestras Propiedades<i class="fa-solid fa-arrow-right"></i></button></a>
  </div>
  <div class="swiper-container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--one">
          <span>propiedad destacada</span>
          <div class="slide-content">
            <h3>Casa de Ensueño</h3>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--two">
          <span>propiedad destacada</span>
          <div class="slide-content">
            <h3>Departamento Moderno</h3>
            <p>en el corazón de la ciudad</p>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--three">
          <span>propiedad destacada</span>
        </div>
        <div class="swiper-slide swiper-slide--four">
          <span>propiedad destacada</span>
        </div>
        <div class="swiper-slide swiper-slide--five">
          <span>propiedad destacada</span>
        </div>
        <div class="swiper-slide swiper-slide--six">
          <span>propiedad destacada</span>
          <div class="slide-content">
            <h3>Chalet de Lujo</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="circle"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script  src="/javascripts/carrousel.js"></script>
</body>
</html>