<body>
<header>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Logo del sitio">
            </a>
        </div>
        
        <input type="checkbox" name="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon-action">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80"
                onclick="this.classList.toggle('active')">
                <path class="line top"
                    d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                <path class="line middle" d="m 30,50 h 40" />
                <path class="line bottom"
                    d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
            </svg>
        </label>

        <div class="nav-links">
            <a href="../../home" class="nav-link">Inicio</a>
            <a href="#content-section" class="nav-link" data-target="#content-section">Servicios</a>
            <a href="../../inmuebles/products" class="nav-link">Productos</a>
            <a href="../../carts" class="nav-link">Carrito</a>
            <a href="#resources" class="nav-link" data-target="#resources">Blog</a>
            <a href="#carrousel" class="nav-link" data-target="#carrousel">Carrousel</a>
            <a href="#emailInput" class="nav-link" data-target="#emailInput">Contacto</a>
        </div>
        
        <div class="auth-links">
            <% if (locals.user) { %>
                <a href="/users/profile" class="nav-link primary">Mi Perfil</a>
                <a href="/users/logout" class="nav-link secondary">Cerrar Sesión</a>
            <% } else { %>
                <a href="/users/login" class="nav-link primary">Inicia Sesión</a>
                <a href="/users/register" class="nav-link secondary">Registrarse</a>
            <% } %>
        </div>
    </nav>
</header>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>